body{
  font-family: 'Raleway', sans-serif;
  display: block;
  margin: 6px;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 6px;
    margin-right 6px;
  
}

p{ 
  font-size: 1rem;
  
}

h1{
  font-size: 2rem;
  
}

.head{
  font-size: 6rem;
  
}



